@model Form_validation.Models.student;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="controller">
    <div class="row">
        <div class="col-sm-4">
            <form asp-controller="Home" asp-action="Index" method="post">
                <input asp-for="Name" class="form-control" placeholder="Enter name" />
                <span asp-validation-for="Name" style="color:red"></span>
                <br/>
                <input asp-for="Surname" class="form-control" placeholder="Enter surname" />
                <span asp-validation-for="Surname" style="color:red"></span>
                <br />

                <input asp-for="Email" class="form-control" placeholder="Enter email"/>
                <span asp-validation-for="Email" style="color:red"></span>
                <br />
                <input asp-for="Age" class="form-control" placeholder="Enter age"/>
                <span asp-validation-for="Age" style="color:red"></span>

                <input type="submit" value="submit" class="btn btn btn-outline-primary"/>

            </form>

        </div>
         
    </div>

</div>
